# Ignore modules installed by NPM (install using `npm install`)
node_modules/

# Development environment configs
.vscode/
.eslintrc.json

# Wouldn't wanna give away your secrets, would you?
secret/

# NextJS stuff
.next/